body {
    font-family: Arial , sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    color: #0400f8;
    text-align: center;
    font-size: 36px;
}
h2,
h3  {
     color: #000000;
    font-size: 36px;
}
p {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
h1,
h2,
h3,
p {
    margin-bottom: 12px;
}
form {
    margin-top: 24px;
}
button {
    background-color: #fc0b0b;
    color : #ffffff;
    padding:12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button{
    margin-bottom: 16px;
}
button:hover {
    background-color: #2cff02;
}
a {
    color:#000000;
    text-decoration: none;
}
a:hover {
    color: #1900ff
}
#hero {
    background-color: #ffffff;
    padding: 40px;
}
.highlight {
    color: #ffbb00;
   font-weight: bold;
}
.card {
    background-color: #ffffff;
    padding: 24px;
    margin-top: 20px;
    border-radius: 12;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}
input {
display: block;
width: 100%;
padding: 12px;
margin-bottom: 16px;
border: 1px solid #cccccc;
border-radius: 8px;
}
input:focus {
    outline: none;
    border-color: #1d4ed8;
    background-color: #eef4ff;
}
